---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '@/components/shared/Navbar.astro';
import '@/assets/styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title = 'Astro Store', description = 'Mi tienda', image = 'https://res-console.cloudinary.com/duz1soadb/media_explorer_thumbnails/ae5a15f845ab20050ffc00ea727b2303/detailed' } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
  </head>
  <body>
    <Navbar />

    <main class="container m-auto max-w-5xl px-5 mt-20">
      <slot />
    </main>

    <ViewTransitions />
  </body>
</html>
